@model IEnumerable<Entities.tblAula>

@{
    ViewBag.Title = "Index";
}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Aula.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div class="jumbotron"></div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a id="Inicio">@Html.ActionLink("Inicio", "Index", "Principal", new { area = "" }, new { @class = "nav-link active" })</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="Catalogos" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogos</a>
                <div class="dropdown-menu">
                    <a role="button" aria-haspopup="true" aria-expanded="false" id="Colaboradores">@Html.ActionLink("Colaborador", "Index", "Colaborador", new { area = "" }, new { @class = "dropdown-item" })</a>
                    <a role="button" aria-haspopup="true" aria-expanded="false" id="Aulas"> @Html.ActionLink("Aulas", "Index", "Aulas", new { area = "" }, new { @class = "dropdown-item" })</a>
                    <a role="button" aria-haspopup="true" aria-expanded="false" id="Edificios">@Html.ActionLink("Edificios", "Index", "Edificio", new { area = "" }, new { @class = "dropdown-item" })</a>
                    <a role="button" aria-haspopup="true" aria-expanded="false" id="TipoAula">@Html.ActionLink("Tipo Aula", "Index", "TipoAula", new { area = "" }, new { @class = "dropdown-item" })</a>
                    <a role="button" aria-haspopup="true" aria-expanded="false" id="Area">@Html.ActionLink("Área", "Index", "Area", new { area = "" }, new { @class = "dropdown-item" })</a>
                </div>
            </li>
        </ul>

        <ul class="nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="Usuario" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Editar Cuenta</a>
                    <div class="dropdown-divider"></div> <a class="dropdown-item">@Html.ActionLink("Cerrar Cuenta", "Bienvenida", "Home", new { area = "" }, new { @class = "dropdown-item" }) </a>
                </div>
            </li>
        </ul>

    </div>
</nav><br>
<h2>Lista de Aulas</h2>

<p>
    @Html.ActionLink("Crear Aula", "Create", null, new { @class = "btn btn-sm btn-info" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayName("Numero del Aula")
        </th>
        <th>
            @Html.DisplayName("Tipo de Aula")
        </th>
        <th>
            @Html.DisplayName("Id Edificio")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoAula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEdificio)
            </td>
            <td>
                <div class="btn-group">
                    @*<a class="btn btn-info btn-xs" href="menu">Acción</a>
                        <a class="btn btn-info btn-xs dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">*@
                    <ul>
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.idAula })</li>
                        <li><a href="javascript:Eliminar(@item.idAula)">Eliminar</a></li>
                    </ul>
                    @*</ul>*@
                </div>
            </td>
        </tr>

    }

</table>

<div class="footer "></div>




<script type="text/javascript">
    function Eliminar(idAula) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteAula", "Aula")",
            traditional: true,
        data: {
            id: idAula
        },
        success: function (data) {
            if (data.bandera == true) {
                alert(data.mensaje);
                window.location.href = '@Url.Action("Index","Aula")'
            } else {
                alert(data.mensaje);
            }
        },
        error: function (data) {
            alert(data.mensaje);
        }
    });


    }
</script>