@model IEnumerable<Entities.tblAnioMe>

@{
    ViewBag.Title = "IndexAnioMes";
}

<h2>IndexAnioMes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAnioMes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAnio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idMes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAnioMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAnio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idMes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
