@model IEnumerable<Entities.tblAnio>

@{
    ViewBag.Title = "IndexAnio";
}

<h2>IndexAnio</h2>

<p>
    @Html.ActionLink("Create New", "CreateAnio", null, new { @class = "btn btn-sm btn-info" })
    @Html.ActionLink("Anio Mes ", "IndexAnioMes", "Generales", new { area = "" }, new { @class = "btn btn-sm btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("idAnio")
        </th>
        <th>
            @Html.DisplayName("Anio")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAnio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anio)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAnio", new { id=item.idAnio }) |
            <a href="javascript:Eliminar(@item.idAnio)">Eliminar</a>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function Eliminar(idAnio) {

        $.ajax({
            type: "POST",
            url: "@Url.Action("DeleteColaborador", "Anio")",
            traditional: true,
        data: {
            id: idAnio
        },
        success: function (data) {
            if (data.bandera == true) {
                alert(data.mensaje);
                window.location.href = '@Url.Action("IndexAnio", "Anio")'
            } else {
                alert(data.mensaje);
            }
        },
        error: function (data) {
            alert(data.mensaje);
        }
    });


    }
</script>