@model IEnumerable<Entities.tblSemana>

@{
    ViewBag.Title = "IndexSemanas";
}

<h2>IndexSemanas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAnioSemana)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idSemana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAnioSemana)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
