@model IEnumerable<Entities.tblNoticia>

@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idNoticias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticiasTitulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticiasTexto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idNivel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idNoticias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticiasTitulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticiasTexto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idNivel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
